{{ if isset .Site.Params "social" }}
<section id="contact">
<div class="contact">
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<h2>Kontakt:</h2>
				<p>Dr. Xiaodan Jiang</p>
				<p> Addresse: Bandelstrasse 2, 10559 Berlin
				<p>Telefon: 030 28832812</p>
				<p>Fax: 030 28832814</p>
				<p>Email: info@sino-herbs.de</p>
			</div>

			<div class="col-lg-6">
				<h2>Anfahrt:</h2>
				<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d9709.14345249454!2d13.3430828!3d52.5282619!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47a851a03b49a84b%3A0x9ba704baef185f23!2sBandelstra%C3%9Fe+2%2C+10559+Berlin!5e0!3m2!1sde!2sde!4v1520781278927" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
			</div>

					

		</div><!-- /.row -->
	</div><!-- /.container -->
</div><!-- /.contact -->
</section>
{{ end }}
